body{
    font-family: 'Courier New', Courier, monospace;
}
.btnRequest{
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
.btnSchedule{
    background-color: rgb(230,230,230);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}